<div class="row navbar">
  <div class="col m3 l2 center-align green-border hide-on-med-and-down">
    <img [routerLink]="['/home']" class="lemonaide-logo " src="images/lemonaide-logo.svg" alt="Lemonaide logo">
  </div>

  <div class="col m12 l10 blue-border">
    <div class="left">
      <user-avatar *ngFor="let u of currUser" [user]="u"></user-avatar>
    </div>
    <!-- <ul id="nav-mobile" class="right"> -->
    <!-- <li class="navbar-links"><a [routerLink]="['help']">help</a></li> -->
    <!-- <li class="navbar-links"><a [routerLink]="['directory']">directory</a></li> -->
    <!-- <li class="navbar-links collection-item"><a [routerLink]="['tasks']">tasks<span class="new badge">4</span></a></li> -->
    <!-- <li class="navbar-links"><a [routerLink]="['messages']">messages</a></li> -->
    <!-- <li class="navbar-links"><a (click)="logout()" [routerLink]="['']">Logout</a></li> -->
    <!-- </ul> -->
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right">

          <li class="nav-link-cont">
            <a class="nav-links" [routerLink]="['help']">help</a>
          </li>

          <li class="nav-link-cont">
            <a class="nav-links" [routerLink]="['directory']">directory</a>
          </li>

          <li class="nav-link-cont">
            <a class="nav-links" [routerLink]="['conversations']">
              conversations <span *ngIf="unreadMessages != 0" class="new badge"> {{unreadMessages}} </span>
            </a>
          </li>

          <li class="nav-link-cont">
            <!-- <a class="nav-links" [routerLink]="['tasks']">
              tasks <span *ngIf="unreadTasks != 0" class="new badge">{{unreadTasks}}</span>
            </a> -->
            <a class="nav-links">
              tasks <span *ngIf="unreadTasks != 0" class="new badge">{{unreadTasks}}</span>
            </a>
          </li>

          <li class="nav-link-cont" (click)="logout()">
            <a class="nav-links" >logout</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</div>