.area-title{
	font-family:lato;
	font-size:2em;
	text-transform: capitalize;
	margin:0px;
	padding:0px;
}

.header-container{
	position:relative;
}

.task-addition-holder{
	position:absolute;
	top:10px;
	left:200px;
}

.new-task{
	height:25px;
}

.section-title{
	font-family:karla;
	font-size:1.8em;
	text-transform: capitalize;
	text-align:center;
	padding:0px;
	margin:0px;
}

/*TASK ADDITION MODAL RULES*/
#TaskAdditionModal{
	width:500px;
	z-index:-1;
}

