.conversationTitle{
	font-family:lato;
	font-size:1.8em;
	text-transform: capitalize;
	text-align: center;
	padding:0px;
	margin:0px;
}

.sender{
	font-family:lato;
	font-size:1.5em;
	color:rgba(0,0,0,1);
	text-transform: capitalize;

	margin:0px;
}

.message{
	font-family:Karla;
	font-size:1.2em;
	color:rgba(0,0,0,.75);
}

.sent{
	font-family:karla;
	font-size:.8em;
	color:rgba(0,0,0,.5);
}

.sender-row{
	border-bottom:1px solid rgba(0,0,0,.25);
}

.cust-btn{
	font-family:lato;
	font-size:1.2em;
	color:rgba(104,196,43,1);
	
	border-radius:20px;
	background-color:transparent;
	border:2px solid rgba(104,196,43,1);
}

/*USER BOX COLOR*/
.green-box{
	/*background-color:rgba(104,196,43,.5) !important;*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+56,64bf28+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left,  #ffffff 56%, #64bf28 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffffff 56%,#64bf28 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffffff 56%,#64bf28 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#64bf28',GradientType=1 ); /* IE6-9 */
}

/*RECIPIENT BOX COLOR*/
.blue-box{
	/*background-color:rgba(43,164,218,.5);*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#65b6d8+0,ffffff+50 */
background: #65b6d8; /* Old browsers */
background: -moz-linear-gradient(left,  #65b6d8 0%, #ffffff 50%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #65b6d8 0%,#ffffff 50%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #65b6d8 0%,#ffffff 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65b6d8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}