.row{
	margin:0px;
	padding:0px;
}

.collection{
	margin:0px;
	padding:0px;
	border:none;
}

.collection-item>.header{
	margin:0px;
	padding:0px;
	font-size:1.4em;
}

.collection-item{
	color:white;
	position:relative;
	background-color:transparent;
	border-top:1px solid rgba(46,67,84,1);
	border-bottom:1px solid rgba(46,67,84,1);
	border-right:none;
	border-left:none;
	width:90%;
	margin-left:10px;
	text-align:center;
	text-transform: capitalize;
}


.collection-item.selectable:hover{
	background-color:rgba(40, 139,183, 1);
	border:none;
}

.add-task-image{
	height:20px;
	position:absolute;
	top:10px;
	right:10px;
}

#TaskCreation{
	width:500px;
}