<div class="container-fluid">
	<div class="row">
		<p class="area-title">{{area}} tasks</p>
		<!-- PENDING SECTION -->
		<div class="col s12 m12 l4">
			<div class="row">
				<p class="section-title">pending</p>
				<individual-task *ngFor="let pending of pendingTasks" [task]="pending"></individual-task>
			</div>	
		</div>


		<!-- IN PROGRESS SECTION -->
		<div class="col s12 m12 l4">
			<div class="row">
				<p class="section-title">in progress</p>
				<individual-task *ngFor="let progress of progressTasks" [task]="progress"></individual-task>
			</div>	
		</div>
		

		<!-- COMPLETED SECTION -->
		<div class="col s12 m12 l4">
			<div class="row">
				<p class="section-title">completed</p>
				<individual-task *ngFor="let completed of completedTasks" [task]="completed"></individual-task>
			</div>	
		</div>
	</div>
</div>